name: Release

on:
  release:
    types: [created]
  workflow_dispatch:
    inputs:
      version:
        description: "Version"
        required: true
        type: string
      skip-release-job:
        type: boolean
        default: false

jobs:
  release:
    name: Release ${{ matrix.target }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - target: x86_64-unknown-linux-gnu
            archive: tar.gz tar.zst
            os: ubuntu-latest
            features: telemetry,self-update,managed-bins
          - target: x86_64-unknown-linux-musl
            archive: tar.gz tar.zst
            os: ubuntu-latest
            features: telemetry
          - target: aarch64-unknown-linux-musl
            archive: tar.gz tar.zst
            os: ubuntu-latest
            features: telemetry
          - target: x86_64-apple-darwin
            archive: tar.gz
            os: macos-latest
            features: telemetry,self-update,managed-bins
          - target: aarch64-apple-darwin
            archive: tar.gz
            os: macos-latest
            features: telemetry,self-update,managed-bins
          - target: x86_64-pc-windows-msvc
            archive: tar.gz
            os: windows-latest
            features: telemetry,self-update,managed-bins

    steps:
      - uses: actions/checkout@master
      - name: Set version
        id: version
        shell: bash
        run: |
          if [[ "${{ github.event_name }}" == "workflow_dispatch" ]]; then
            echo "version=${{ github.event.inputs.version }}" >> $GITHUB_OUTPUT
          else
            echo "version=${{ github.ref_name }}" >> $GITHUB_OUTPUT
          fi
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: ${{ matrix.target }}

      - name: Install Linux dependencies
        if: matrix.target == 'x86_64-unknown-linux-gnu' || matrix.target == 'x86_64-unknown-linux-musl' || matrix.target == 'aarch64-unknown-linux-musl'
        run: |
          sudo apt-get update
          sudo apt-get install -y libssl-dev musl-tools protobuf-compiler clang llvm

      - name: Install MacOS dependencies
        if: matrix.target == 'x86_64-apple-darwin' || matrix.target == 'aarch64-apple-darwin'
        run: |
          brew install openssl protobuf

      - name: Install Windows dependencies
        if: matrix.target == 'x86_64-pc-windows-msvc'
        run: |
          choco install openssl protoc

      - uses: Swatinem/rust-cache@v2

      - uses: actions-rs/cargo@v1
        with:
          command: build
          args: -p cicada-cli --release --target ${{ matrix.target }} -F ${{ matrix.features }}
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SEGMENT_WRITE_KEY: ${{ secrets.SEGMENT_WRITE_KEY }}

      - name: Upload release (linux)
        if: matrix.target == 'x86_64-unknown-linux-gnu' || matrix.target == 'x86_64-unknown-linux-musl' || matrix.target == 'aarch64-unknown-linux-musl'
        env:
          GH_TOKEN: ${{ secrets.RELEASE_TOKEN }}
        run: |
          version=${{ steps.version.outputs.version }}
          echo "version=$version"

          strip target/${{ matrix.target }}/release/cicada-cli
          mkdir out
          mv target/${{ matrix.target }}/release/cicada-cli out/cicada

          for archive in ${{ matrix.archive }}; do
            OUT_FILE=cicada-${{ matrix.target }}.$archive
            if [[ "$archive" == "tar.gz" ]]; then
              tar -czf $OUT_FILE -C out cicada
            fi 
            if [[ "$archive" == "tar.zst" ]]; then
              tar -cJf $OUT_FILE -C out cicada
            fi
            gh release upload $version $OUT_FILE
          done

      - name: Upload release (macos)
        if: matrix.target == 'x86_64-apple-darwin' || matrix.target == 'aarch64-apple-darwin'
        env:
          GH_TOKEN: ${{ secrets.RELEASE_TOKEN }}
        run: |
          version=${{ steps.version.outputs.version }}
          echo "version=$version"

          strip target/${{ matrix.target }}/release/cicada-cli
          mkdir out
          mv target/${{ matrix.target }}/release/cicada-cli out/cicada

          for archive in ${{ matrix.archive }}; do
            if [[ "$archive" == "zip" ]]; then
              OUT_FILE=cicada-${{ matrix.target }}.$archive
              zip $OUT_FILE out/cicada
            fi
            if [[ "$archive" == "tar.gz" ]]; then
              OUT_FILE=cicada-${{ matrix.target }}.$archive
              tar -czf $OUT_FILE -C out cicada
            fi
            gh release upload $version $OUT_FILE
          done

      - name: Upload release (windows)
        if: matrix.target == 'x86_64-pc-windows-msvc'
        env:
          GH_TOKEN: ${{ secrets.RELEASE_TOKEN }}
        shell: bash
        run: |
          version=${{ steps.version.outputs.version }}
          echo "version=$version"

          mkdir out
          mv target/${{ matrix.target }}/release/cicada-cli.exe out/cicada.exe

          for archive in ${{ matrix.archive }}; do
            if [[ "$archive" == "zip" ]]; then
              OUT_FILE=cicada-${{ matrix.target }}.$archive
              7z a $OUT_FILE out/cicada
            fi
            if [[ "$archive" == "tar.gz" ]]; then
              OUT_FILE=cicada-${{ matrix.target }}.$archive
              tar -czf $OUT_FILE -C out cicada
            fi
            gh release upload $version $OUT_FILE
          done

  # All the other releases should depend on this one since the binary will require the docker image on docker hub
  docker-release:
    name: Release to Docker Hub
    runs-on: ubuntu-latest
    needs: release
    steps:
      - uses: actions/checkout@master
      - name: Set version
        id: version
        shell: bash
        run: |
          if [[ "${{ github.event_name }}" == "workflow_dispatch" ]]; then
            version=${{ github.event.inputs.version }}
          else
            version=${{ github.ref_name }}
          fi
          echo "version=$version" >> $GITHUB_OUTPUT
          echo "no_prefix_version=${version#v}" >> $GITHUB_OUTPUT
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: ./docker
          file: ./docker/bin.Dockerfile
          push: true
          tags: cicadahq/cicada-bin:${{ steps.version.outputs.no_prefix_version }},cicadahq/cicada-bin:latest    

  npm-release:
    name: Release to NPM
    runs-on: ubuntu-latest
    needs: docker-release
    steps:
      - uses: actions/checkout@master
      - name: Publish to NPM
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          cd packages/cicada
          echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" > .npmrc
          npm publish

  aur-publish:
    name: Build & publish to AUR
    needs: docker-release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set version
        id: version
        shell: bash
        run: |
          if [[ "${{ github.event_name }}" == "workflow_dispatch" ]]; then
            version=${{ github.event.inputs.version }}
          else
            version=${{ github.ref_name }}
          fi
          echo "version=$version" >> $GITHUB_OUTPUT
      - name: Download cicada-x86_64-unknown-linux-gnu.tar.gz
        run: |
          curl -L -o cicada-x86_64-unknown-linux-gnu.tar.gz https://github.com/cicadahq/cicada/releases/download/${{ steps.version.outputs.version }}/cicada-x86_64-unknown-linux-gnu.tar.gz
      - name: Generate PKGBUILD
        run: |
          mkdir -p aur/cicada-bin
          export tag=${GITHUB_REF#refs/*/}
          export version=${tag:1}
          export sha256sum=$(sha256sum cicada-x86_64-unknown-linux-gnu.tar.gz | awk '{print $1}')
          envsubst '${version},${sha256sum}' < aur/PKGBUILD > aur/cicada-bin/PKGBUILD
          cat aur/cicada-bin/PKGBUILD
      - name: Publish cicada-bin to the AUR
        uses: superfly/aur-releaser@ba29a0a809d7221713a104f9c9a23c34ee5b0742
        with:
          pkgname: cicada-bin
          pkgbuild: ./aur/cicada-bin/PKGBUILD
          commit_username: Grant
          commit_email: grant@fig.io
          ssh_private_key: ${{ secrets.AUR_SSH_PRIVATE_KEY }}
          commit_message: ${{ steps.version.outputs.version }}
          force_push: "true"
