name: Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Version"
        required: true
        type: string

jobs:
  docker-release:
    name: release docker
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Set version
        id: version
        shell: bash
        run: |
          version=${{ github.event.inputs.version }}
          echo "version=$version" >> $GITHUB_OUTPUT
          echo "no_prefix_version=${version#v}" >> $GITHUB_OUTPUT
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: ./docker
          file: bin.Dockerfile
          push: true
          tags: cicadahq/cicada-bin:${{ steps.version.outputs.no_prefix_version }},cicadahq/cicada-bin:latest
